* {
  padding: 0;
  margin: 0;
}
body {
  background: #f2f2f2;
}
main {
  display: flex;
}
h1 {
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
}
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 15vw;
  width: 65vw;
  height: 90vh;
  top: 5%;
  right: 20%;
  background: #f2f2f2;
  box-shadow: 7px 7px 14px rgba(212, 211, 211, 0.84), -7px -7px 14px #ffffff;
  border-radius: 53px;
}
.calculadora {
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu {
  position: absolute;
  display: flex;
  list-style: none;
  border: 1px solid blue;
  background-color: yellow;
  width: 10%;
  left: 89%;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  order: 2;
}

header {
  text-align: center;
  margin: 40px;
}
h2 {
  text-align: center;
}

.formularios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
  gap: 40px;
}

.sobre {
  display: flex;
  gap: 20px;
  width: 582px;
}

.sobre label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
a {
  cursor: pointer;
}

#nombre {
  outline: none;
  border: 0;
  width: 438px;
  height: 78px;
  background: #f2f2f2;
  box-shadow: inset 7px 7px 14px rgba(212, 211, 211, 0.84),
    inset -7px -7px 14px #ffffff;
  border-radius: 104px;
}

/*otra ventana*/
.tarjeta img {
  cursor: pointer;
  border: 1px solid black;
  width: 300px;
  margin: 20px;
}
